/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: black;

    h1 {
      color: white;
    }
  }

  .header {
    height: 3%;
    width: 100%;
    background-color: darkblue;
    margin-left: -2em;
    margin-top: -3em;
    padding: 1rem 0 1rem 3rem;

    .Logo {
      width: 6%;
      display: inline;
      margin-top: .5rem;
    }
    h4 {
      display: inline;
      margin-left: 1em;
      margin-top: -2em;
    }
  }

  #Home {
    .box {
      outline: 3px solid blue;
      margin-left: 20em;
      width: 16em;
    
      h3 {
        padding: 1em;
      }
    }

    h1{
      margin-left: 30%;
    }

    .blurb {
      width: 55%;
      align-items: center;
      margin-left: 26%;
      margin-top: -25em;
    }

    background-color: black;
  
    img {
      margin-bottom: 30em;
      margin-left: 20%;
    }
  }

  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 1.5em;
    font-size: 16px;
    width: 12.5%;
  }
  
  .tablink:hover {
    background-color: rgb(120, 121, 122);
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;

  }


  #Toxicology {
    h1 {
      margin-left: 40%;
    }

    embed.ToxDash {
      overflow: hidden;
      width: 110em;
      height: 120%;
    }
  }

  #Injury {
    h1 {
      margin-left: 45%;
    }

      .inj {
        color: blue;
        margin-right: 80%;
      }

      .fat {
        color: red;
        margin-right: 80%;
      }

      embed.InjuryGraph {
        overflow: hidden;
    
        width: 70em;
        height: 100vh;
        margin: 0;
        padding: 0;
        margin-bottom: 30%;
      }
    
      embed.IFMap {
        width: 45em;
        height: 55em;
        padding-left: 1em;
        margin-bottom: 50%;
    
    
      }
  }

  #Pedestrian {
    h1 {
      margin-left: 40%;
    }

    h3 {
      margin-top: -1em;
      margin-left: 2em;
      padding: 0;
    }

    embed.NMDash {
      overflow: hidden;
      width: 65em;
      height: 100em;
      margin-bottom: 15%;
    }
  
    embed.NMMap {
      overflow: hidden;
      padding-left: 4em;
      margin-bottom: 55em;
      width: 45em;
      height: 50em;
    }
  }

  #Demographics {
    h1 {
      margin-left: 37%;
    }

    embed.DemoDash {
      width: 100%;
      height: 110%;
    }
  }

  #COVID {
    embed.COVID-Graph {
      overflow: hidden;
      width: 65em;
      height: 60em;
      margin-top: 3%;
      margin-left: 10%;
    }

    h1 {
      margin-left: 45%;
    }
  }

  #RoadCond {
    h1{
      margin-left: 36%;
    }

    embed.RoadCond-Dash {
      width: 100%;
      height: 110%;
   
    }
  }

    #VehicleStats {
      h1 {
        margin-left: 40%;
      }

      embed.VeDash {
        width: 100%;
        height: 110%;
      }
    }



  

  /* Media Queries */
  /*1. 1600px screens and below (rather small)*/
 @media screen and ( max-width: 1600px) {

  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.5em 1em;
    font-size: 15px;
    width: 12.5%;
  }

/*Header*/
.header {
  height: 3%;
  width: 100%;
  background-color: darkblue;
  margin-left: -2em;
  margin-top: -3em;
  padding: 1rem 0 1rem 3rem;

  .Logo {
    width: 7%;
    display: inline;
    margin-top: .6rem;
    margin-right: 70%;
  }
  h4 {
    display: inline;
    margin-top: -1em;
    margin-left: -55em;
  }
}

/*Home Page*/ 
  #Home {
    width: 97.5%;

    h1 {
      margin-left: 25%;
    }
    .box {
      border: 2px solid navy ;
      width: 14%;
      height: 12%;
      margin-left: 4%;
      margin-top: -4em;

      h4 {
        margin-left: 8em;
        padding: 1em;
        width: 17em;
      }
    }
  
    img.UConnCamp {
      margin-top: 4%;
     margin-left: 11em;
    }

    .blurb {
      width: 70%;
      align-items: center;
      margin-left: 15%;
      margin-top: -30em;
    }
  }

/*Tox*/

#Toxicology {
  h1 {
    margin-left: 40%;
  }

  embed.ToxDash {
    overflow: hidden;
    width: 97em;
    height: 120%;
    margin-left: -3em;
  }
}
 

/* Non Motorist */

#Pedestrian {

  embed.NMMap {
    width: 30em;
    height: 35em;
  }

  embed.NMDash {
    width: 60em;
    height: 100vh;
    margin-bottom: 30em;
    padding: 0;
  }

    h2 {
      margin-top: 1em;
      margin-left: 3em;
      padding: 0;
    }

}


  /*Injury Fatality*/

  #Injury {
  
    embed.InjuryGraph {
      overflow: hidden;
      padding-left: .5em;
      width: 55em;
      height: 100vh;
      margin-left: -1.5em;
  
    }
  
    embed.IFMap {
      margin-bottom: 32em;
      width: 35em;
      height: 40em;
      padding-left: 1em;
  
    }

    h1 {
      margin-left: 37%;
    }
  }

  /*Road Cond*/
  embed.RoadCond-Dash {
    width: 97%;
    height: 110%;
    margin-left: -3em;
 
  }

  /*COVID*/

  embed.COVID-Graph {
    overflow: hidden;
    width: 70em;
    height: 60em;
    margin-top: 3%;
    margin-left: 3%;
  }




 }

 /*Between 1801px and 3000px (Small to Medium Screens)*/ 


 /*Above*/